---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrev from "@components/BackToPrev.astro";
import Link from "@components/Link.astro";

export async function getStaticPaths() {
  const projects = (await getCollection("projects"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<"projects">;

// Get the requested entry
const project = Astro.props;
const { collection } = project;
const { Content } = await project.render();

// Get the next and prev entries (modulo to wrap index)
const items = (await getCollection(collection))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
const index = items.findIndex((x) => x.slug === project.slug);
const prev = items[(index - 1 + items.length) % items.length];
const next = items[(index + 1) % items.length];
---

<PageLayout title={project.data.title} description={project.data.description}>
  <Container size="2xl">
    <div class="animate">
      <BackToPrev href="/projects"> Back to projects </BackToPrev>
    </div>
    <div class="space-y-1 my-10">
      <div class="flex flex-wrap text-sm uppercase mt-12 gap-3 opacity-75">
        <div class="flex items-center gap-2">
          <svg class="size-5 stroke-current">
            <use href="/ui.svg#calendar"></use>
          </svg>
          <FormattedDate date={project.data.date} />
        </div>
        <div class="flex items-center gap-2">
          <svg class="size-5 stroke-current">
            <use href="/ui.svg#book-open"></use>
          </svg>
          {readingTime(project.body)}
        </div>
      </div>
      <div class="animate text-2xl font-semibold text-surface10">
        {project.data.title}
      </div>
      {
        (project.data.demoURL || project.data.repoURL) && (
          <nav class="animate flex gap-1">
            {project.data.demoURL && (
              <Link href={project.data.demoURL} external>
                demo
              </Link>
            )}
            {project.data.demoURL && project.data.repoURL && <span>/</span>}
            {project.data.repoURL && (
              <Link href={project.data.repoURL} external>
                repo
              </Link>
            )}
          </nav>
        )
      }
    </div>
    <article class="animate">
      <Content />
    </article>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <a
        href={`/${prev.collection}/${prev.slug}`}
        class="group p-4 gap-3 flex items-center border rounded-lg hover:bg-surface10/5 border-surface10/15 blend"
      >
        <div class="order-2 w-full h-full group-hover:text-surface10 blend">
          <div class="flex flex-wrap gap-2">
            <div class="text-sm uppercase">Prev</div>
          </div>
          <div class="font-semibold mt-3 text-surface10">
            {prev.data.title}
          </div>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="order-1 stroke-current group-hover:stroke-surface10 rotate-180"
        >
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-1 transition-all duration-300 ease-in-out"
          ></line>
          <polyline
            points="12 5 19 12 12 19"
            class="translate-x-0 group-hover:translate-x-1 transition-all duration-300 ease-in-out"
          ></polyline>
        </svg>
      </a>
      <a
        href={`/${next.collection}/${next.slug}`}
        class="group p-4 gap-3 flex items-center border rounded-lg hover:bg-surface10/5 border-surface10/15 transition-colors duration-300 ease-in-out"
      >
        <div class="w-full h-full text-right group-hover:text-surface10 blend">
          <div class="text-sm uppercase">Next</div>
          <div class="font-semibold mt-3 text-surface10">
            {next.data.title}
          </div>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="stroke-current group-hover:stroke-surface10"
        >
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-1 transition-all duration-300 ease-in-out"
          ></line>
          <polyline
            points="12 5 19 12 12 19"
            class="translate-x-0 group-hover:translate-x-1 transition-all duration-300 ease-in-out"
          ></polyline>
        </svg>
      </a>
    </div>
  </Container>
</PageLayout>
